
{% extends "hf5/layout.html" %}
{% load static %}



{% block body%}

<ul>


<div class="row">

<div class="col-6">
    
{% for item in data %}

    {% if item.id == 1%}
    <li>Drivhus: {{item.id}} </li>
    <li>Start-time: {{item.start_time}}</li>
    <li>End-time: {{item.end_time}}</li>
    <li>Max-temp: {{item.max_temp}}</li>
    <li>Min-temp: {{item.min_temp}}</li>
    <li>Max-hum: {{item.max_hum}}</li>
    <li>Min-hum: {{item.min_hum}}</li>
    <li>Max sound level: {{item.max_noise_level}}</li>
    
    {% endif %}
{% endfor %}

</div>

<div class="col-6">

{% for item in data %}

    {% if item.id == 2%}
    <li>Drivhus: {{item.id}} </li>
    <li>Start-time: {{item.start_time}}</li>
    <li>End-time: {{item.end_time}}</li>
    <li>Max-temp: {{item.max_temp}}</li>
    <li>Min-temp: {{item.min_temp}}</li>
    <li>Max-hum: {{item.max_hum}}</li>
    <li>Min-hum: {{item.min_hum}}</li>
    <li>Max sound level: {{item.max_noise_level}}</li>

    {% endif %}


{% endfor %}


</div>

</div>

<h3 style="color: red;">{{message}}</h3>
    <form action="{% url 'startup'  %}" method="POST">
        {% csrf_token %}
        <p>{{form.id.label}} {{form.id}}<p>        
        <p>{{form.start_time.label}} {{form.start_time}}<p>
        <p>{{form.end_time.label}} {{form.end_time}}<p>
        <br><br>
        <input type="submit" value="Save">
    </form>


</ul>



{% endblock %}