
{% extends "hf5/layout.html" %}
{% load static %}



{% block body%}



<script src="{% static 'index.js' %}"></script>



 <h1>Alarms & warnings</h1>

 {% if device == 1 %}
 <button id="1" class="btn btn-secondary">Drivhus 1</button> 
 {% else %}
 <button id="1" class="btn btn-primary">Drivhus 1</button> 
 {% endif %}
 
 {% if device == 2 %}
 <button id="2" class="btn btn-secondary">Drivhus 2</button>   
 {% else %}
 <button id="2" class="btn btn-primary">Drivhus 2</button>   
 {% endif %}
 
 {% if device == 0 %}
 <button id="0" class="btn btn-secondary">Alle drivhus</button> 
 {% else %}
 <button id="0" class="btn btn-primary">Alle drivhus</button> 
 {% endif %}
  
<ul>



 {% for item in page.object_list %}


 {% if item.Local.id == device or device == 0 or device == None%}
 <li>Drivhus {{item.local_id}} {{item.Type.type}} {{item.AlarmType.name}} {{item.CreatedAt}} </li>
{% endif %}
    

 {% endfor %}


</ul>

<footer>

    {% if page.has_previous %}
    <a id="previous" data-page="{{page.previous_page_number}}" class="btn next-previous btn-secondary">Previous</a>
    {% endif %}
    {% if page.has_next %}
    <a id="next" data-page="{{page.next_page_number}}" class="btn next-previous btn-primary">Next</a>
    {% endif %}

</footer>



{% endblock %}